.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; /* override background image gradient w/ flat color */
}

  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        .person{
          display: flex;
          flex-direction: column;
          align-items: center;
          .avatar {
              border-radius: 50%;
              border: .5px dashed lightblue;
              width: 50%;
          }
          .name {
        }
      }
    }
}
