.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userProfileInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar {
            border-radius: 50%;
            border: .5px dashed lightblue;
            width: 100px;
        }
        .name {

        }
    }
    .statsContainer {
        margin-bottom: 50px;
    }
}