.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userProfileInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar {
            border-radius: 50%;
            border: .5px dashed lightblue;
            width: 100px;
        }
        .name {

        }
    }
    .statsContainer {
        .graphContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .graph {
                margin-top: 20px;
            }
        }
        margin-bottom: 80px;
    }
}